// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  color: #969696; 
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
  width: 100%;
  height: 100%;
  
  text-align: center;
  background: black;
  background-image: image-url("original_bg2.jpg");
  background-position: top center;
  background-repeat: repeat-y;
  overflow-x: hidden;
}

html {
  margin: 0px;
  padding: 0px;
}

div {
  margin-bottom: 5px;
  color: #969696;
  overflow: hidden;
  background-color: rgba(0,0,0,0.75);
  border: 3px solid #3E3B23;
}

div#main {
  //margin: 20px;
  //padding: 0 20px 20px;
}


a {
  color: #90c040;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  color: white;
  font-family: 'Verdana';
  font-size: 150%;
  font-style: bold;
  display: block;
  width: 100%;
}

h3 {
  color: white;
  font-family: 'Verdana';
  font-style: bold;
  display: block;
  width: 100%;
}

h5 {
  color: gold;
  font-family: 'Verdana';
  font-size: 18px;
  font-style: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}


table {
  //margin-left: 10px;
  //margin-top: 5px;
  margin: auto;
  
  //border: 3px solid #3E3B23;
  border-collapse: collapse;
  color: #969696;
  
  background-color: rgba(0,0,0,0.5);
  border-color: #333333;
  min-width: 560px;
  max-width: 660px;
  overflow-x: auto;
  
  /*
  background: url("original_backdrop_745.png");
  background-size: 100% auto;
  min-width: 960px;
  overflow-y: scroll;
  */
}

table a {
  color: #90c040;
}

/*
table:before { 
  position: absolute;
  top: 595px;
  margin-left: -11px;
  content: url("scrolltop.png");
}
*/

table, th, td {
  border: 1px solid black;
  padding: 4px;
}
table th.hilite {
  background-color: #5B1D76; //#242424;
}

/*SEARCH BAR STYLING
#search input[type="text"]{
    color: black;
    background-color: white;
    font-family: 'Verdana';
}
*/



.left {
 text-align:left;
 margin-right:auto;
}

.right {
 text-align:right;
 margin-left:auto;
}

.center {
 text-align:center;
 margin-left:auto;
 margin-right:auto;
}











a[href$="/3849"]:before { /* For Obor*/
  vertical-align: middle;
  padding: 3px;
  vertical-align: -6px;
  content: image-url("shamanmask.png");
}

a[href$="/3849"]:after { /* For Obor*/
  padding: 3px;
  vertical-align: -6px;
  content: image-url("oborclub.png");
}

a[href$="/967"]:after { /* For Pawz*/
  padding: 3px;
  content: image-url("rs3helm.png");
  vertical-align: -6px;
}

/* For nagraB */
a[href$="/3777"]:after, a[href$="/3777"]:after { 
  padding: 3px;
  content: image-url("bargan2.png");
  vertical-align: -8px;
}
 
a[href$="/458"]:after {  /* For Mace Din */
  padding: 3px;
  content: image-url("maceblur2.png");
  vertical-align: -6px;
}
a[href$="/458"]:before {  /* For Mace Din */
  padding: 3px;
  content: image-url("soda.png");
  vertical-align: -6px;
}

a[href$="/1294"]:after {  /* For HCIM btw fev */
  padding: 3px;
  content: image-url("kitten.png");
  vertical-align: -6px;
}

a[href$="/1270"]:after {  /* For F2P Lukie */
  padding: 3px;
  content: image-url("tea.png");
  vertical-align: -6px;
}

a[href$="/6610"]:after {  /* For Tame */
  padding: 3px;
  content: image-url("dog.png");
  vertical-align: -6px;
}

a[href$="/6907"]:after {  /* For citnA */
  padding: 3px;
  content: image-url("bronzehelm.png");
  vertical-align: -6px;
}