// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  color: white; 
  font-family: Arial,Helvetica,sans-serif;
  font-size: 10pt;
  width: 100%;
  height: 100%;
  
  text-align: center;
  background: black;
  background-image: image-url("original_bg2.jpg");
  background-position: top center;
  background-repeat: repeat-y;
  overflow-x: hidden;
}

html {
  margin: 0px;
  padding: 0px;
}

a {
  color: #90c040;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  color: white;
  font-family: 'Arial';
  font-size: 150%;
  font-style: bold;
  display: block;
  width: 100%;
}

h3 {
  color: white;
  font-family: 'Arial';
  font-style: bold;
  display: block;
  width: 100%;
}

h4 {
  color: #d9c27e;
  line-height: 1;
}

h5 {
  font-size: 14px;
  color: white;
  font-family: 'Arial';
  font-style: bold;
  display: block;
  width: 100%;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0px;
}

h6 {
  font-family: 'Arial';
  font-size: 14px;
  color: #969696;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
  line-height: 1;
}

table, th, td {
  //border: 1px solid black;
  padding: 4px;
}

table th.hilite {
  background-color: none; //#5B1D76;
}

table a {
  color: black; //#90c040;
}

table {
  margin: auto;
  border-collapse: collapse;
  
  /*
  color: #969696;
  background-color: rgba(0,0,0,0.5);
  border-color: #333333;
  min-width: 380px;
  max-width: 660px;
  */
  
  overflow-x: auto;
  
  color: black;
  background: image-url("scroll_middle_379.gif");
  background-size: 100% auto;
  border: none;
}

#headerHiscores {
    background: image-url("scroll_top_379.gif") no-repeat;
    max-width: 100%;
    max-height: 100%;
    background-size: 100% auto;

}

#footerHiscores {
    background: image-url("scroll_bottom_379.gif") no-repeat;
    max-width: 100%;
    max-height: 100%;
    background-size: 100% auto;
}

.skills {
  background: image-url("banner_middle2.gif");
  background-size: 100% auto;
  text-align: left;
  margin-left: 666px;
}

.skills a { color: #d9c27e; }

#headerSkills {
  background: image-url("banner_top2.gif") no-repeat;
  max-width: 100%;
  max-height: 100%;
  background-size: 100% auto;
}

#footerSkills {
  background: image-url("banner_bottom2.gif") no-repeat;
  max-width: 100%;
  max-height: 100%;
  background-size: 100% auto;
}



/*SEARCH BAR STYLING*/
#search input[type="text"]{
    color: black;
    background-color: white;
    font-family: 'Arial';
}

.search {
  background: image-url("search_box.gif") no-repeat;
  max-width: 100%;
  max-height: 100%;
  background-size: 100% auto;
  font-weight: bold;
  line-height: 25px;
  padding-top: 5px;
  color: #d9c27e;
}

.filter {
  background: image-url("compare_users.gif") no-repeat;
  max-width: 100%;
  max-height: 100%;
  background-size: 100% auto;
  font-weight: bold;
  line-height: 25px;
  padding-top: 5px;
  color: #d9c27e;
}

.title {
  text-align: center;
  width: 240px;
  padding: 5px;
  margin: auto;
}

.subtitle {
  font-style: italic;
  color: white;
  font-weight: bold;
  width: 200px;
}

div {
  margin-bottom: 5px;
  color: #969696;
  overflow: hidden;
  background-color: rgba(0,0,0,0.75);
  border: 3px solid #382418;
}

.container {
  margin: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  color: none;
  background-color: transparent;
  border: none;
}

.left {
  float: left;
  margin-right: auto;
}

.bar {
  float: left;
  margin-right: auto;
  margin-left: 10px;
  text-align: center;
  padding: 10px;
}

.ranks {  width: 115px; }
.ehp {  width: 80px; }
.fake {  width: 100px; }
.links {  width: 90px; }
.changelog {  width: 75px; }
.donate {  width: 140px; }
.motd {
  text-align: center;
  width: 290px;
  padding: 5px;
  margin-bottom: 20px;
}
.supporters {
  text-align:center;
  width:220px;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 5px;
}

.selected-link {
  color: white;
  font-weight: bold;
}

.pagination {
  background: none;
  border: none;
  width: 780px;
  margin: auto;
  font-size: 16px;
}

.pagination > * {
    margin-right: 0.1em;
    padding: 0.2em 0.3em;
}

.pagination .current {
    color: white;
    font-weight: bold;
    font-style: normal;
}

.pagination .disabled {
    color: white;
}






/* FLAIRS */
a[href$="/3849"]:before { /* For Obor*/
  padding: 3px;
  vertical-align: -6px;
  content: image-url("flairs/shamanmask.png");
}
a[href$="/3849"]:after { /* For Obor*/
  padding: 3px;
  vertical-align: -6px;
  content: image-url("flairs/oborclub.png");
}

a[href$="/967"]:after { /* For Pawz*/
  padding: 3px;
  content: image-url("flairs/rs3helm.png");
  vertical-align: -6px;
}

/* For nagraB */
a[href$="/3777"]:after, a[href$="/3783"]:after { 
  padding: 3px;
  content: image-url("flairs/bargan2.png");
  vertical-align: -8px;
}
 
a[href$="/3813"]:after {  /* For Mace Din */
  padding: 1px;
  content: image-url("flairs/maceblur2.png");
  vertical-align: -6px;
}
a[href$="/3813"]:before {  /* For Mace Din */
  padding: 1px;
  content: image-url("flairs/soda.png");
  vertical-align: -6px;
}

a[href$="/11796"]:after {  /* For HCIM btw fev */
  padding: 3px;
  content: image-url("flairs/kitten.png");
  vertical-align: -6px;
}

a[href$="/11773"]:after {  /* For F2P Lukie */
  padding: 3px;
  content: image-url("flairs/tea.png");
  vertical-align: -6px;
}

a[href$="/11774"]:after {  /* For Tame */
  padding: 3px;
  content: image-url("flairs/dog.png");
  vertical-align: -6px;
}

a[href$="/11829"]:after {  /* For citnA */
  padding: 3px;
  content: image-url("flairs/bronzehelm.png");
  vertical-align: -6px;
}

a[href$="/3816"]:after {  /* For Based Chew */
  padding: 3px;
  content: image-url("flairs/cupcake.png");
  vertical-align: -6px;
}

a[href$="/11797"]:after {  /* For lRAIDERSS */
  padding: 3px;
  content: image-url("flairs/raiders3.png");
  vertical-align: -8px;
}

a[href$="/953"]:after {  /* For Sofacanlazy */
  padding: 3px;
  content: image-url("flairs/australia-flag.png");
  vertical-align: -6px;
}

a[href$="/12373"]:after {  /* For I love rs */
  padding: 3px;
  content: image-url("flairs/tank.png");
  vertical-align: -6px;
}

/* FONT CHANGES */
a[href$="/3849"] { /* For Obor*/
  //color: #FFD700;
  font-family: Times New Roman;
}